/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato;
}
/* Regole dell'header */

header{

}

/* Regole del main */

main{

}

/* Regole del footer */

footer{
    
}